{
	"singleQuote": true,
	"printWidth": 105,
	"proseWrap": "always",
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"semi": true,
	"plugins": ["prettier-plugin-tailwindcss"]
}
