.nav {
	padding: 10px 30px;
	display: flex;
	background-color: cyan;
	align-items: center;
}

.logo {
	width: auto;
	height: 50px;
}


// .char_avtar {
// 	width: 50px;
// 	height: 50px;
// 	border: 2px solid gray;
// 	border-radius: 50%;
// 	padding: 2px 0px;
// 	font-size: 30px;
// 	text-align: center;
// 	font-weight: 600;
// 	background-color: lightgreen;
// 	margin-left: 20px;
// }

.nav_icon{
	transform: scale(1.4);
	margin: 10px 20px;
}

.logout{
	box-sizing: content-box;
	padding: 4px;
	border: 1px solid var(--secondary-text-color);
	border-radius: 4px;
	color: red;
	&:hover{
		cursor: pointer;
	}
}